.planinfo{
  text-align: center;
  width: 100%;
  table-layout: fixed;
}

.listitem{
	width: 100%;
	padding: 1em;
}
tr th:first-child{
	width: 30%;
}

tr th:last-child{
	max-width: 30%;
}

tr th:last-child{
	max-width: 30%;
}

tr td:first-child{
	max-width: 30%;
}

tr td:last-child{
	max-width: 30%;
}

tr th:nth-child(2){
	max-width: 40%;
}


tr td:nth-child(2){
	max-width: 40%;
}

tr td{
	text-align: center;
}

form{
  margin-block-end: 0;
}

td input[type="submit"], td button{
	background: #4d90fe;
    border-color: #3079ed;
    font-weight: bold;
    margin: 0 0 0 0;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 8px 0px 8px 8px;
    font-size: 1.5vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.planinfo tr{
  background-color: rgb(255,255,255);
}